# Security Testing Results

## String Validation
After testing each possible input besides the alphabet and the + sign, in all different possible spots, it appears that the string validation function is working correctly and as intended.

## General Check
After testing the function with both functions that raise exceptions and work correctly, it appears the general check function is working correctly and as intended.
